<a href="https://colab.research.google.com/github/Priya-2604/Celebal/blob/main/assignment_week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Creating a list

l1=[1,2,3,4,5,6]
l2=['Apple','Mango','Banana',"Orange"] #python can stored value in both quotation.
print("Integer list:",l1)
print("String list:",l2)

Integer list: [1, 2, 3, 4, 5, 6]
String list: ['Apple', 'Mango', 'Banana', 'Orange']

In [ ]:
# List slicing

l1=[1,2,3,4,5,6,7,8,9,10]
print("Current list:",l1)

print("Index 1 value:",l1[1])

print("Index b/w 1:6",l1[1:6])

print("Index till 6",l1[:6])

print("Last value",l1[-1])

Current list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Index 1 value: 2
Index b/w 1:6 [2, 3, 4, 5, 6]
Index till 6 [1, 2, 3, 4, 5, 6]
Last value 10

Converting Tuple into list:

In [ ]:
t1=("Apple","Mango","Cherry") 
print(t1)
type(t1)
x=list(t1)
print(x)
type(x)
x[1]="Kiwi"
print("Updated list:",x)
y=tuple(x)
print("Updated Tuple:",y)

('Apple', 'Mango', 'Cherry')
['Apple', 'Mango', 'Cherry']
Updated list: ['Apple', 'Kiwi', 'Cherry']
Updated Tuple: ('Apple', 'Kiwi', 'Cherry')

In [ ]:
# while loop with tuple

t1=("Apple","Mango","Cherry")
i=0
while i<len(t1):
    print(t1[i])
    i=i+1
else:
    print("Loop finish")

Apple
Mango
Cherry
Loop finish

To compare Tuples:

In [ ]:
t1=(1,2,3)
t2=(1,2,4)
print(t1==t2)

print(t1<t2)

print(t1>t2)

False
True
False

In [ ]:
# Access the value of dictionary

d1={1:"C",2:"java",3:"Python",'A':'B',"fruit":"Apple"}
print(d1)
x=d1[3]
print(x)

# acces the value using get()

y=d1.get(1)
print(y)

# Access the value using item()
 #(Tuple into a list)
z=d1.items()
print(z)

# Access the only keys fron dictionary
k=d1.keys()
print(k)

# Access the only values fron dictionary
v=d1.values()
print(v)

{1: 'C', 2: 'java', 3: 'Python', 'A': 'B', 'fruit': 'Apple'}
Python
C
dict_items([(1, 'C'), (2, 'java'), (3, 'Python'), ('A', 'B'), ('fruit', 'Apple')])
dict_keys([1, 2, 3, 'A', 'fruit'])
dict_values(['C', 'java', 'Python', 'B', 'Apple'])

In [ ]:
# 1] Write a program to convert tuple into list

tuple=(1,2,3,4)
print(tuple)

list=list(tuple)
print(list)

(1, 2, 3, 4)
[1, 2, 3, 4]

In [ ]:
# 2] Write a program to count element in given tuple(1,2,3,4,5,6,7,8).

tuple=(1,2,3,4,5,6,7,8)
print(tuple)
a=tuple.count(2)
print(a)

(1, 2, 3, 4, 5, 6, 7, 8)
1

In [ ]:
# 3] Write a program to insert the element "Python" on index 2 in the given list["Java","Php",".Net","Angular"]

list=["Java","Php",".Net","Angular"]
print(list)
list.insert(2,"Python")
print(list)

['Java', 'Php', '.Net', 'Angular']
['Java', 'Php', 'Python', '.Net', 'Angular']

In [ ]:
# 4] Write a program to remove the element "3" from the given list [1,2,3,4,5,6]

list=[1,2,3,4,5,6]
print(list)
list.pop(2)
print("Updated list:",list)

[1, 2, 3, 4, 5, 6]
Updated list: [1, 2, 4, 5, 6]